<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
	.center {
	 text-align: center;
	 font-weight: bold
	}
</style>
</head>
<body>
<h2 th:text="'Books'">Hello</h2>

<table>
	<tr>
		<td class="center">Author</td>
		<td class="center">Title</td>
		<td class="center">ISBN</td>
		<td class="center">Price</td>
	</tr>
	<tr th:each="book : ${books}">
		<td th:text="${book.author}"></td>
		<td th:text="${book.title}"></td>
		<td th:text="${book.isbn}"></td>
		<td th:text="'&emsp;' + ${book.price} + ' €'"></td>
		<td><a th:href="@{/delete/{id}(id=${book.id})}"><button type="button">❌</button></a></td>
	
	</tr>
</table> <br>

<a href="/add" class="btn btn-primary"><button type="button">Add Book</button></a>

</body>
</html>

